/* globals.css */

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* Configurações de cores personalizadas */
@layer utilities {
  .text-brown-700 {
    --text-color: #594330;
    color: var(--text-color);
  }

  .bg-yellow-200 {
    --bg-color: #f7de8b;
    background-color: var(--bg-color);
  }
}
